<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- 项目起始页面 -->
  <welcome-file-list>
    <welcome-file>/icp/portal/home.html</welcome-file>
  </welcome-file-list>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
  <!-- 添加报表的功能 -->
  <context-param>
  <param-name>reportRootPath</param-name>
  <param-value>http://172.23.15.143:38080/Ireport/</param-value>  
  </context-param>
  
  <!--Struts2配置  -->
 	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
  <servlet>  
    <servlet-name>config</servlet-name>  
    <servlet-class>com.inspur.icpmg.util.InitServlet</servlet-class>  
    <init-param>  
        <param-name>configfile</param-name>  
        <param-value>WEB-INF/log4j.properties</param-value>  
    </init-param>  
    <load-on-startup>2</load-on-startup>  
  </servlet>
	<!-- 验证码Servlet  -->
	<servlet>
		<servlet-name>AuthImg</servlet-name>
		<servlet-class>com.inspur.icpmg.util.AuthImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthImg</servlet-name>
		<url-pattern>/authimg.jpg</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>appServlet</servlet-name>
     <async-supported>true</async-supported>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/wsk/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/sockjs/*</url-pattern>
  </servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/web/Frames/404.html</location>
	</error-page>
	
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	 <resource-ref>
      <description>My DataSource Reference</description>
      <res-ref-name>jdbc/mysql</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>
